.pequeno{
    width: 50px;
    height: 100px;
    background-color: gold;
}

.medio{
    width: 100px;
    height: 100px;
    background-color: deepskyblue;
}

.grande{
    width: 200px;
    height: 100px;
    background-color: salmon;
}
.flexbox_container{
    display: flex;
    gap: 10px;
}
.vertical{
    display: flex;
    flex-direction: column;
}


#box1{
    background-color: lightgreen;
}
#box2{
    background-color: orange;
    justify-content: center;
}
#box3{
    background-color: orange;
    justify-content: space-between;
}
#box4{
    background-color: lightgreen;
    justify-content: space-around;
}
#box5{
    background-color: lightgreen;
    justify-content: space-between;
    align-items: center;
}
#box6{
    background-color: lightgreen;
    justify-content: space-between;
}
#box7{
    background-color: lightgreen;
    justify-content: space-between;
}

h2{
    font-size: 50px;
}
div{
    text-align: center;

    
}
#p1{
    justify-content: end;
}
#g1{
    display: flex;
}